<nav class="navbar navbar-expand-sm navbar-light mb-3" style="background-color: #fafafb;">
    <div class="container">
        <a class="navbar-brand" href="/"><span class="site-title">&#123; amit.g &#125;</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://microthreads.amitg.xyz/"><span class="itch-item">Micro.Threads</span></a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    {{#if user.email}}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbar-dropdown-meulink">
                                Threads</a>
                            <div class="dropdown-menu">
                                <a href="/micro/threads/add" class="dropdown-item">Add New Thread</a>
                                <a href="/micro/threads/edit" class="dropdown-item">Refresh Thread</a>
                            </div>
                        </li>
                    {{/if}}
                    <li class="nav-item">
                        <a href="/users/logout" class="nav-link">Logout</a>
                    </li>
                {{/if}}
            </ul>            
        </div>             
    </div>
</nav>