<div class="page-header">
    <h1 class="display-4">Itches. Et Al.</h1>
    <p class="lead">Projects by <a href="https://www.amitgawande.com">Amit Gawande</a>. 
    Some around code. Some not so. </p>

    <a href="/micro/" class="btn btn-dark btn-lg">Micro.Threads</a>
</div>