<div class="jumbotron text-center">
    <h1 class="display-4">Codes, Itches, Et Al.</h1>
    <p class="lead">Projects by <a href="https://www.amitgawande.com">Amit Gawande</a>. 
    Some around code. Some not so. </p>

    <a href="/micro/" class="btn btn-dark btn-lg">Micro.Thread - Explore Threads on Micro.blog</a>
</div>