<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Fetch recommendations from threads at <a href="https://micro.blog">micro.blog. </a>
    Explore links from <a href="https://micro.blog/discover">Discover</a> 
    <a href="http://burk.io/discover">emojitag</a> </p>
    <a href="/micro/threads" class="btn btn-dark btn-lg">Explore</a>
    <a href="/micro/discover" class="btn btn-dark btn-lg">Discover</a>
</div>