<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Fetch recommendations from threads at <a href="https://micro.blog">micro.blog. </a>
    Explore links from discover emojitag</p>
    <a href="/micro/threads" class="btn btn-dark btn-lg">Follow a Thread</a>
    <a href="/micro/discover" class="btn btn-dark btn-lg">Explore Discover</a>
</div>