<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"><span style="border-bottom: 2px solid red; padding-bottom:5px;">User Discovery</span></h5>
    <p class="card-text">Recommendations for Micro.blog profiles based on stream and discover section</p>
    <a href="/discover/user" class="btn btn-primary">Discover</a>
  </div>
</div>

<div class="card" style="margin-top: 20px;">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"><span style="border-bottom: 2px solid red; padding-bottom:5px;">Thread Discovery</span></h5>
    <p class="card-text">Recommendations for conversations on Micro.blog</p>
    <a href="#" class="btn btn-primary">Discover</a>
  </div>
</div>